* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: black;
    color: white;
}

/* MENU */
.menu {
    width: 100%;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.menu nav a:hover {
    color: #ff9be9;
}

.btn-cadastrar {
    padding: 10px 25px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-cadastrar:hover {
    background: #ff9be9;
    border-color: #ff9be9;
}

/* SEÇÃO PRINCIPAL */
.container {
    height: 550px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg, #ff00cc, #ff8ae2, #111, #111);
    gap: 140px;
}

.col {
    padding: 30px;
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.title {
    font-size: 50px;
    color: #ff9be9;
    text-shadow: 0 0 12px #ff79c6;
    margin-bottom: 30px;
}

.texto {
    font-size: 20px;
    line-height: 1.6;
}

.center-img {
    width: fit-content;
    height: fit-content;
}

.center-img img {
    height: 320px;
    width: 600px;
    right: 28%;
    top: 34%;
    display: block;
    margin: 0 auto;
    position:absolute;
    z-index: 1;
}

/* RODAPÉ */
footer {
    margin-top: 40px;
    padding: 40px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col h3 {
    font-size: 28px;
    color: #ff9be9;
    text-shadow: 0 0 10px #ff79c6;
    margin-bottom: 10px;
}

.footer-col p {
    font-size: 18px;
    margin: 6px 0;
}

.footer-logo {
    width: 200px;
}
