/* RESET  */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background:#000;
    color:#fff;
    overflow-x:hidden;
}
a{
    text-decoration:none;
    color:#ffffff;
}

/* HEADER */
header{
    width:100%;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#00000035;
    position:fixed;
    top:0;
    z-index:999;
    border-bottom:1px solid #fff4;
}
header nav a{
    margin:0 15px;
    font-size:20px;
    transition:.3s;
}
header nav a:hover{
    color:#ff79c6;
}
.btn{
    border:2px solid #ff79c6;
    padding:8px 20px;
    border-radius:10px;
    transition:.3s;
}

.btn:hover{
    background:#ff79c6;
    border-color:#ff79c6;
}

/* BANNER */
.banner{
    margin-top:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-position: cover;
    z-index: -1;
    background-repeat: no-repeat;
}
.banner img{
    width:80%;
    border:3px solid #ff79c6;
    border-radius:10px;
}
.menu-opcoes{
    
    display:flex;
    gap:80px;
    margin-top:20px;
    font-size:250px;
    position: absolute;
    bottom: 160px;
    border:2px solid #ff79c6;
    padding:1px 22px;
    border-radius:22px;
    transition:.3s;
}
.menu-opcoes:hover{
    background:#ff79c6;
    border-color:#ff79c6;
}

.topico{
    font-size: 1cm;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    border: none;
}

btn-after {
    z-index: 1;
    content:'';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    position: absolute;
}
/* SESSÃO DVA */
.section{
    background-image: url(../img_projeto/fundo.jpeg);

    padding:0px 0%;

}
.section h1{
    text-align:center;
    font-size:90px;
    margin-top: 50px;
    color:#ff9be9;
    margin-bottom:-90px;
    text-shadow:0 0 10px #ff79c6;
}
.dva-area{display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}
.dva-area img{
    width:350px;
}
.dva-area p{
    width:70%;
    font-size:30px;
    line-height:1.2;
}
.saiba-btn{
    position: relative;
    display:inline-block;
    margin-top:37px;
    padding:10px 25px;
    border:2px solid #ff79c6;
    color:#ffffff;
    border-radius:8px;
    transition:.3s;
}
.saiba-btn:hover{
    background:#ff79c6;
    color:#000;
}


/* SOBRE MIM  */
.sobre-conteudo h1 {
    display: flex;
    flex-direction:column;
    position: relative;
    padding: 50px;
    text-align: center;
    font-size: 70px;
    color: #ff9be9;
    text-shadow: 0 0 10px #ff79c6;
}
.sobre-conteudo {
    background-image: url(../img_projeto/WALLPAPER.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
}

.sobre-conteudo p {
    display: flex;
    /* margin-left: 31px; */
    position: relative;
    /* bottom: 554px; */
    font-size: 31px;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    flex-wrap: nowrap;
    padding: 40px;
}
.sobre-img img {
    width: 0px;
    display: block;
}
.saiba-btn1{
    position: relative;
    /* bottom: 547px; */
    left: 567px;
    display:inline-block;
    margin-top:24px;
    padding:24px 44px;
    border:2px solid #ff79c6;
    color:#ffffff;
    border-radius:8px;
    transition:.3s;
}

.saiba-btn1:hover{
    background:#ff79c6;
    color:#000;
}

/* GAMEPLAYS */
.gameplays{
    overflow-x: auto;
    text-align:center;
}
.gameplays::-webkit-scrollbar{
    width: 12px;
    
}
#gameplaysH1{
    display: flex;
    justify-content: center;
    font-size:70px;
    color:#ff9be9;
    text-shadow:0 0 10px #ff79c6;
    /* position: fixed; */
}
.galeria{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:20px;
    width: 180vw;
    height: 80vh;
    overflow-x: visible;
    scroll-behavior: smooth;
}

.galeria video{
    width: 100%;
    height: 80%;
}

/* FOOTER */
footer{
    margin-top:20px;
    padding:40px;
    text-align:center;
    background:#000000aa;
    border-top:1px solid #fff3;
}
footer p{
    margin:5px 0;
}

.carousel-caption {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding: 18px 90px;
    object-fit: cover;
    z-index: 0;
    opacity: 0.35;
}