* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: black;
    color: white;
}

/* MENU */
.menu {
    width: 100%;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav a {
    margin: 0 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
}

.menu nav a:hover {
    color: #ffb4fd;
}

.btn-cadastrar {
    padding: 10px 25px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.btn-cadastrar:hover {
    background: #ff9be9;
    border-color: #ff9be9;
}

/* SEÇÃO MOTIVAÇÃO */
.motivacao-section {
    background-image: url("espaco.png"); /* fundo espacial */
    background-size: cover;
    background-position: center;
    padding: 70px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.title {
    font-size: 70px;
    text-align: center;
    color: #ffb4fd;
    text-shadow: 0 0 12px #ff79c6;
    margin-bottom: 35px;
}

.texto-box {
    width: 55%;
}

.texto-box p {
    text-align: justify;
    font-size: 22px;
    line-height: 1.7;
}

/* FOTO + MOLDURA */
.foto-box {
    width: 35%;
    text-align: center;
}

.frame {
    width: 260px;
    height: 260px;
    border: 6px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
    position: relative; 

}

.frame img {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}

.eu {
    margin-top: 20px;
    font-size: 40px;
    color: #ffb4fd;
    text-shadow: 0 0 10px #ff79c6;
}

/* RODAPÉ */
.rodape {
    margin-top: 40px;
    padding: 40px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col h3 {
    font-size: 28px;
    color: #ffb4fd;
    text-shadow: 0 0 10px #ff79c6;
}

.col p {
    font-size: 20px;
    margin: 6px 0;
}

.footer-logo {
    width: 200px;
}
